.contenedor-testimonio{
    background-color: #fff;
    width: 80%;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 13px 1px #00000634;
}

.img-testimonio{
    height: 100%;
    width: auto;
}

.contenedor-texto{
    text-align: center;
    padding: 40px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre{
    font-size:1.3rem;
}

.ocupacion{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.testimonio{
    font-size:.8rem;
    text-align: justify;
}